.circle{
    top: 50%;
    left: 50%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
}
.c1{
    height: 600px;
    width: 600px;
    background-color: aqua;
}
.c2{
    height: 400px;
    width: 400px;
    background-color: blue;
}
.c3{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}